body {
    font-family: Arial, sans-serif;
    background-color: #e4e4e4;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0079bf;
    color: white;
    padding: 20px;
    margin: 0;
}

.roadmap-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.list {
    background-color: #fff;
    border: 1px solid #ddd;
    width: 22%;
    padding: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

.list h2 {
    color: #0079bf;
    font-size: 1.5em;
    border-bottom: 2px solid #0079bf;
    padding-bottom: 10px;
}

.list-items {
    margin-top: 15px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.2s;
}

.card:hover {
    background-color: #eaeaea;
    transform: translateY(-1px);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-title {
    font-weight: bold;
    font-size: 1.1em;
    color: #333;
}

.card-desc {
    font-size: 0.9em;
    color: #555;
}
